<% include ../partials/header %>

<div class="w-1/2 mx-auto my-4">
    <h1 class='text-center'><%= post.title %></h1>
    <p class="text-grey-600 leading-normal">
        <%= post.text %>
    </p>
</div>

<% include ../partials/footer %>